$title-font: 'Russo One', sans-serif;
$body-font: 'Teko' , sans-serif;
$red-color: red;
$red-text-shadow: -1.6px 0 red, 0 1.6px red, 1.6px 0 red, 0 -1.6px red;
$white-text-shadow: -1.6px 0 white, 0 1.6px white, 1.6px 0 white, 0 -1.6px white;

@mixin flex-center() {
       display: flex;
       justify-content: center;
       align-items: center;
}

@mixin flex-center-column() {
       @include flex-center();
       flex-direction: column;
}

@mixin flex-column() {
       display: flex;
       flex-direction: column;
}

@mixin styles-1() {
       background-color: rgba(255, 255, 255, 0.65);
       border: 1px solid white;
       border-radius: 5px;
}

@mixin hm-73-3() {
       height: 73%;
       margin: 3%;
}

@mixin hw-90() {
       width: 90px;
       height: 90px;
}

@mixin margin-15() {
       margin-top: 15px;
       margin-left: 15px;
       margin-right: 15px;
}

@mixin admin-btn-mq-nv1() {
       line-height: 10px;
       font-size: 13px;
}

@mixin admin-btn-mq-nv2() {
       line-height: 9px;
       font-size: 11px;
}

@mixin admin-btn-mq-nv3() {
       line-height: 9px;
       font-size: 10px;
}

.nav-background {background-color: transparent;
                 width: 100%;
                 height: 120px;}
            
.menu-box {@include hw-90();
           background-color: transparent;
           position: absolute;
           margin-top: 30px;
           margin-left: 15px;
           font-size: 42px;
           text-align: center;
           @include flex-center();}

.titulo {background-color: transparent;
         font-family: $title-font;
         text-shadow: $white-text-shadow;
         color: $red-color;
         height: 90px;
         width: 55%;
         float: left;
         margin-left: 125px;
         margin-top: 15px;
         font-size: 72px;
         }

.user-box {background-color: $red-color;
           font-family: $body-font;
           @include margin-15();
           border: 2px solid black;
           border-radius: 5px;
           font-size: 26px;
           line-height: 28px;
           height: 90px;
           float: right;
           width: 30%;
           display: flex;
           align-items: center;}

.user-image-box {@include styles-1();
                 width: 18.5%;
                 height: 90%;
                 margin-left: 5px;
                 @include flex-center();}

#imageUsu {width: 100%;}

.user-details-box {@include styles-1();
                   width: 77%;
                   height: 90%;
                   margin-left: 2%;
                   display: flex;}

.nom-usu-box {width: 40%;
              height: 30%;
              margin: 3%;
              margin-left: 2%;
              padding-left: 0px;}

.motos-fav-btn {@include hm-73-3();
                width: 30%;
                text-align: center;
                cursor: pointer;
                @include flex-center();}

.ajustes-box {@include hm-73-3();
              width: 8%;
              @include flex-column();}

.ajuste-inf-usu {width: 100%;
                 height: 45%;
                 cursor: pointer;
                 @include flex-center();}

.cerrar-ses-usu {width: 100%;
                 height: 45%;
                 margin-top: 20%;
                 cursor: pointer;
                 @include flex-center();}

.btn-ini-ses {background-color: white;
              border: 2px solid black;
              color: $red-color;
              font-family: $body-font;
              font-size: 32px;
              line-height: 32px;
              border-radius: 5px;
              width: 50%;
              height: 50%;
              text-align: center;
              cursor: pointer;
              @include flex-center();}

.btn-ini-ses:hover {background-color: $red-color;
                    color: white;}

.icon-set {transition: transform 2s;}

.icon-set:hover {transform: rotate(180deg);
                 text-shadow: $red-text-shadow;}

.icon-exit:hover {text-shadow: $red-text-shadow;}

.user-box-no-log {background-color: transparent;
                  height: 90px;
                  margin-top: 15px;
                  float: right;
                  margin-left: 15px;
                  margin-right: 15px;
                  width: 30%;
                  font-size: 24px;
                  @include flex-center();}

.fila1-box {width: 40%;
            height: 73%;
            margin: 3%;
            margin-left: 5%;
            @include flex-column();}

.nom-usu-admin-box {width: 100%;
                    height: 48%;
                    padding-left: 5px;}

.fav-motos-admin-box {background-color: $red-color;
                      width: 95%;
                      height: 48%;
                      margin-top: 4%;
                      border: 1.5px solid white;
                      border-radius: 5px;
                      font-size: 20px;
                      line-height: 21px;
                      padding-top: 1px;
                      text-align: center;
                      cursor: pointer;
                      transition: width 0.5s;
                      @include flex-center();}

.fav-motos-admin-box:hover {width: 100%;}

.motos-adm-btn {background-color: rgb(200, 175, 175);
                border-radius: 5px;
                border: 1px solid white;
                width: 100%;
                height: 48%;
                text-align: center;
                line-height: 12px;
                padding: 1.5px;
                font-size: 17px;
                padding-top: 2px;
                cursor: pointer;
                transition: width 0.5s;}

.motos-adm-btn:hover {width: 103%;}

.usu-adm-btn {background-color: white;
              border: 1px solid grey;
              border-radius: 5px;
              width: 100%;
              height: 48%;
              margin-top: 6%;
              text-align: center;
              line-height: 12px;
              padding: 1.5px;
              font-size: 17px;
              cursor: pointer;
              transition: width 0.5s;}

.usu-adm-btn:hover {width: 103%;}

.admin-mode-box {width: 30%;
                 height: 73%;
                 margin: 3%;
                 text-align: center;
                 display: flex;
                 justify-content: center;
                 flex-direction: column;}

.icon {@include flex-center();}
    
.btn-modal {background-color: white;
            border: 2px solid grey;
            border-radius: 5px;
            margin: 10px;
            height: 30px;}

.modal-botones {background-color: transparent;
                width: 80%;
                height: 30%;
                @include flex-center();}

.modal-1 {background-color: lightgrey;
          border: 2px solid black;
          color: $red-color;
          font-family: $body-font;
          line-height: 18px;
          font-size: 23px;
          border-radius: 10px;
          position: absolute;
          width: 420px;
          height: 260px;
          font-size: 22px;
          text-align: center;
          top: 160px;
          left: 36.1%;
          overflow: visible;
          @include flex-center-column();}
                 

@media screen and (max-width: 1180px) {
        
       .titulo {font-size: 52px;
                width: fit-content;}

       .fav-motos-admin-box {font-size: 15px;
                             line-height: 13px;}

       .motos-adm-btn {@include admin-btn-mq-nv1();}
                   
       .usu-adm-btn {@include admin-btn-mq-nv1();}

       .btn-ini-ses {font-size: 18px;
                     line-height: 19px;}
                            
}


@media screen and (max-width: 885px) {
        
       .titulo {font-size: 36px;
                width: 450px;}

       .fav-motos-admin-box {font-size: 13px;
                             line-height: 11px;}

       .motos-adm-btn {@include admin-btn-mq-nv2();}
                   
       .usu-adm-btn {@include admin-btn-mq-nv2();}

       .btn-ini-ses {font-size: 15px;
                     line-height: 12px;}
                            
       .user-box {margin-top: -90px;
                  height: 70px;}

       .btn-ini-ses {font-size: 16px;
                     line-height: 17px;
                     margin-top: -90px;}

       .user-box-no-log {margin-top: -35px;
                         height: 80px;}
}


@media screen and (max-width: 680px) {
        
       .titulo {font-size: 31px;
                width: 415px;}
                            
       .user-box {margin-top: -90px;
                  height: 62px;}

       .fav-motos-admin-box {font-size: 11px;
                             line-height: 11px;}

       .motos-adm-btn {@include admin-btn-mq-nv3();}
           
       .usu-adm-btn {@include admin-btn-mq-nv3();}

       .btn-ini-ses {font-size: 14px;
                     line-height: 15px;}

       .user-box-no-log {margin-top: -35px;
                         height: 80px;}

}