.nav-background {background-color: transparent;
                 width: 100%;
                 height: 120px;}
            
.menu-box {background-color: transparent;
           position: absolute;
           width: 90px;
           height: 90px;
           margin-top: 30px;
           margin-left: 15px;
           font-size: 42px;
           text-align: center;
           display: flex;
           justify-content: center;
           align-items: center;}

.titulo {background-color: transparent;
         font-family: 'Russo One', sans-serif;
         color: red;
         text-shadow: -1.6px 0 white, 0 1.6px white, 1.6px 0 white, 0 -1.6px white;
         height: 90px;
         width: 55%;
         float: left;
         margin-left: 125px;
         margin-top: 15px;
         font-size: 72px;
         }

.user-box {background-color: red;
           font-family: 'Teko' , sans-serif;
           border: 2px solid black;
           border-radius: 5px;
           font-size: 26px;
           line-height: 28px;
           height: 90px;
           margin-top: 15px;
           float: right;
           margin-left: 15px;
           margin-right: 15px;
           width: 30%;
           display: flex;
           align-items: center;}

.user-image-box {width: 18.5%;
                 height: 90%;
                 margin-left: 5px;
                 background-color: rgba(255, 255, 255, 0.65);
                 border: 1px solid white;
                 border-radius: 5px;
                 display: flex;
                 justify-content: center;
                 align-items: center;}

.user-details-box {background-color: rgba(255, 255, 255, 0.65);
                   border: 1px solid white;
                   border-radius: 5px;
                   width: 77%;
                   height: 90%;
                   margin-left: 2%;
                   display: flex;}

.nom-usu-box {width: 40%;
              height: 30%;
              margin: 3%;
              margin-left: 2%;
              padding-left: 0px;}

.motos-fav-btn {width: 30%;
                height: 73%;
                margin: 3%;
                text-align: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;}

.ajustes-box {width: 8%;
              height: 73%;
              margin: 3%;
              display: flex;
              flex-direction: column;}

.ajuste-inf-usu {width: 100%;
                 height: 45%;
                 cursor: pointer;
                 display: flex;
                 justify-content: center;
                 align-items: center;}

.cerrar-ses-usu {width: 100%;
                 height: 45%;
                 margin-top: 20%;
                 cursor: pointer;
                 display: flex;
                 justify-content: center;
                 align-items: center;}

.btn-ini-ses {background-color: white;
              border: 2px solid black;
              color: red;
              font-family: 'Teko' , sans-serif;
              font-size: 32px;
              line-height: 32px;
              border-radius: 5px;
              width: 50%;
              height: 50%;
              text-align: center;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;}

.btn-ini-ses:hover {background-color: red;
                    color: white;}

.icon-set {transition: transform 2s;}

.icon-set:hover {transform: rotate(180deg);
                 text-shadow: -1.6px 0 red, 0 1.6px red, 1.6px 0 red, 0 -1.6px red;}

.icon-exit:hover {text-shadow: -1.6px 0 red, 0 1.6px red, 1.6px 0 red, 0 -1.6px red;}

.user-box-no-log {background-color: transparent;
                  height: 90px;
                  margin-top: 15px;
                  float: right;
                  margin-left: 15px;
                  margin-right: 15px;
                  width: 30%;
                  font-size: 24px;
                  display: flex;
                  align-items: center;
                  justify-content: center;}

.fila1-box {width: 40%;
            height: 73%;
            margin: 3%;
            margin-left: 5%;
            display: flex;
            flex-direction: column;}

.nom-usu-admin-box {width: 100%;
                    height: 48%;
                    padding-left: 5px;}

.fav-motos-admin-box {background-color: red;
                      width: 95%;
                      height: 48%;
                      margin-top: 4%;
                      border: 1.5px solid white;
                      border-radius: 5px;
                      font-size: 20px;
                      line-height: 21px;
                      padding-top: 1px;
                      text-align: center;
                      cursor: pointer;
                      transition: width 0.5s;
                      display: flex;
                      justify-content: center;
                      align-items: center;}

.fav-motos-admin-box:hover {width: 100%;}

.motos-adm-btn {background-color: rgb(200, 175, 175);
                border-radius: 5px;
                border: 1px solid white;
                width: 100%;
                height: 48%;
                text-align: center;
                line-height: 12px;
                padding: 1.5px;
                font-size: 17px;
                padding-top: 2px;
                cursor: pointer;
                transition: width 0.5s;}

.motos-adm-btn:hover {width: 103%;}

.usu-adm-btn {background-color: white;
              border: 1px solid grey;
              border-radius: 5px;
              width: 100%;
              height: 48%;
              margin-top: 6%;
              text-align: center;
              line-height: 12px;
              padding: 1.5px;
              font-size: 17px;
              cursor: pointer;
              transition: width 0.5s;}

.usu-adm-btn:hover {width: 103%;}

.admin-mode-box {width: 30%;
                 height: 73%;
                 margin: 3%;
                 text-align: center;
                 display: flex;
                 justify-content: center;
                 flex-direction: column;}

.icon {display: flex;
       justify-content: center;
       align-items: center;}
    
.btn-modal {background-color: white;
            border: 2px solid grey;
            border-radius: 5px;
            margin: 10px;
            height: 30px;}

.modal-botones {background-color: transparent;
                width: 80%;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;}

.modal-1 {background-color: lightgrey;
          border: 2px solid black;
          color: red;
          font-family: 'Teko' , sans-serif;
          line-height: 18px;
          font-size: 23px;
          border-radius: 10px;
          position: absolute;
          width: 420px;
          height: 260px;
          font-size: 22px;
          text-align: center;
          top: 160px;
          left: 36.1%;
          overflow: visible;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;}
                 

@media screen and (max-width: 1180px) {
        
       .titulo {font-size: 52px;
                width: fit-content;}

       .fav-motos-admin-box {font-size: 15px;
                             line-height: 13px;}

       .motos-adm-btn {line-height: 10px;
                       font-size: 13px;}
                   
       .usu-adm-btn {line-height: 10px;
                     font-size: 13px;}

       .btn-ini-ses {font-size: 18px;
                     line-height: 19px;}
                            
}


@media screen and (max-width: 885px) {
        
       .titulo {font-size: 36px;
                width: 450px;}

       .fav-motos-admin-box {font-size: 13px;
                             line-height: 11px;}

       .motos-adm-btn {line-height: 9px;
                       font-size: 11px;}
                   
       .usu-adm-btn {line-height: 9px;
                     font-size: 11px;}

       .btn-ini-ses {font-size: 15px;
                     line-height: 12px;}
                            
       .user-box {margin-top: -90px;
                  height: 70px;}

       .btn-ini-ses {font-size: 16px;
                     line-height: 17px;
                     margin-top: -90px;}

       .user-box-no-log {margin-top: -35px;
                         height: 80px;}
}


@media screen and (max-width: 680px) {
        
       .titulo {font-size: 31px;
                width: 415px;}
                            
       .user-box {margin-top: -90px;
                  height: 62px;}

       .fav-motos-admin-box {font-size: 11px;
                             line-height: 11px;}

       .motos-adm-btn {line-height: 9px;
                       font-size: 10px;}
           
       .usu-adm-btn {line-height: 9px;
                     font-size: 10px;}

       .btn-ini-ses {font-size: 14px;
                     line-height: 15px;}

       .user-box-no-log {margin-top: -35px;
                         height: 80px;}

}