$body-text: 'Teko' , sans-serif;
$red-border: 2px solid red;

@mixin flex-center() {
    display: flex;
    justify-content: center;
}

@mixin flex-center-center() {
    @include flex-center();
    align-items: center;
}

@mixin flex-initial() {
    display: flex;
    justify-content: initial;
    flex-direction: column;
    align-content: center;
}

@mixin wh-90() {
    width: 90px;
    height: 90px;
}

.menu-icon {background: white;
            border-radius: 5px;
            color: inherit;
            border: $red-border;
            cursor: pointer;
            position: absolute;
            width: 65px;
            padding-left: 5px;
            height: 70px;
            @include flex-center();}

.dropdown-content {opacity: 0;
                   display: none;
                   background-color: white;
                   border: $red-border;
                   border-radius: 10px;
                   position: relative;
                   background-color: #f1f1f1;
                   font-family: $body-text;
                   font-size: 22px;
                   margin-left: 110px;
                   margin-top: 315px;
                   width: 275px;
                   height: 250px;
                   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}

.dropdown-content a {color: black;
                     padding: 12px 16px;
                     text-decoration: none;
                     display: block;}

.filter-title {background-color: red;
               border-radius: 3px 3px 0px 0px;
               border: $red-border;
               text-align: left;
               font-size: 28px;
               padding: 10px;}

.menu-box {position: absolute;
           @include wh-90();
           margin-top: -95px;
           margin-left: 15px;
           font-size: 42px;
           text-align: center;
           @include flex-center-center();}

.filtro {padding: 10px;}

.filter-select {padding-top: 10px;
                @include flex-initial();}

.menu-box:hover .dropdown-content {display: block;
                                   opacity: 1;
                                   -webkit-animation: fadeIn 1s;
                                   animation: fadeIn 1s;
                                   background-color: white;
                                   border: $red-border;}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
