@import '~@angular/material/theming';

@include mat-core();


$MotorbikeHome-primary-red: mat-palette($mat-red);
$MotorbikeHome-accent: mat-palette($mat-red, A200, A100, A400);
$MotorbikeHome-warn: mat-palette($mat-red);

$MotorbikeHome-red-theme: mat-dark-theme($MotorbikeHome-primary-red, $MotorbikeHome-accent, $MotorbikeHome-warn);

@include angular-material-theme($MotorbikeHome-red-theme);

