$title-back-color: rgb(240, 61, 61);
$body-font: 'Teko' , sans-serif;
$title-font: 'Russo One', sans-serif;
$title-shadow: -1.5px 0 6px white, 0 1.5px 6px white, 1.5px 0 6px white, 0 -1.5px 6px white;
$anim-bounce-2: bounceIn 2s;
$border-1-white: 1px solid rgb(250, 242, 242);

@mixin flex-center() {
        display: flex;
        align-items: center;
        justify-content: center;
}

@mixin flex-center-column() {
        @include flex-center;
        flex-direction: column;
}

@mixin border-2-10-white() {
        border: 2px solid white;
        border-radius: 10px;
}

@mixin border-styles() {
        background-color: white;
        border-radius: 10px;
}

@mixin boxes() {
        @include border-2-10-white();
        font-family: $body-font;
        background-color: lightgrey;
        font-size: 22px;
        line-height: 22px;
        width: 50%;
        height: 77%;
        padding: 15px;
        position: relative;
        float: left;
        padding-left: 40px;
        padding-top: 20px;
}

@mixin boxes-2() {
        @include border-styles();
        @include flex-center();
        position: relative;
        float: right;
        width: 50%;
        height: 100%;
}

@mixin buttons() {
        background-color: white;
        border: 1.5px solid grey;
        border-radius: 5px;
}

@mixin box-mq-nv1() {
        font-size: 17px;
        line-height: 19px;
}

@mixin box-mq-nv2() {
        font-size: 17px;
        line-height: 19px;
        padding-left: 3px;
}

@mixin titulo-mq() {
        font-size: 46px;
        text-align: center;
}

@mixin botones-mq() {
        font-size: 18px;
}

.registro-fondo {background-image: url(../../assets/imagenes/background.jpg);
                 width: 100%;
                 height: 820px;
                 display: flex;
                 justify-content: center;}

.box-1 {background-color: transparent;
        height: 730px;
        width: 80%;}

.titulo {background-color: $title-back-color;
        font-family: $title-font;
        text-shadow: $title-shadow;
        border: $border-1-white;
        border-radius: 9px 9px 0px 0px;
        width: 100%;
        height: 125px;
        margin-top: 20px;
        font-size: 72px;
        @include flex-center();}

.titulo-text {animation: $anim-bounce-2;}

.formulario {border: $border-1-white;
             background-image: url("../../assets/imagenes/registro-background.jpg");
             background-repeat: no-repeat;
             background-size: cover;
             border-radius: 0px 0px 9px 9px;
             width: 100%;
             height: 80.2%;
             @include flex-center();}

.form-content {@include border-2-10-white();
               background-color: white;
               width: 80%;
               height: 90%;}

.form-title {background-color: $title-back-color;
             font-family: $body-font;
             @include border-2-10-white();
             text-align: center;
             font-size: 34px;
             @include flex-center();}

.box-2 {@include boxes();}

.box-3 {@include boxes();}

.botones {@include border-styles();
          font-family: $body-font;
          clear: both;
          font-size: 23px;
          width: 100%;
          height: 13.5%;
          padding: 10px;}

.box-4 {@include boxes-2();}

.box-5 {@include boxes-2();}

.atras {@include buttons();}

.enviar {@include buttons();}

.input-form {background-color: white;
             border: 1.5px solid grey;
             border-radius: 5px;}

.validacion {color: red;}

.modal-1 {font-family: $body-font;
          background-color: lightgrey;
          border: 2px solid black;
          color: red;
          line-height: 18px;
          font-size: 23px;
          border-radius: 10px;
          position: absolute;
          width: 420px;
          height: 260px;
          font-size: 22px;
          text-align: center;
          top: 160px;
          left: 36.1%;
          overflow: visible;
          @include flex-center-column();}
    
.ok {@include buttons();
     height: 30px;}


@keyframes bounceIn {
        0% {
          transform: scale(0.1);
          opacity: 0;
        }
        60% {
          transform: scale(1.2);
          opacity: 1;
        }
        100% {
          transform: scale(1);
        }
}



@media screen and (max-width: 880px) {
        
        .titulo {@include titulo-mq();}

        .form-title {font-size: 28px;}

        .box-2 {@include box-mq-nv1();}

        .box-3 {@include box-mq-nv1();}

        .botones {@include botones-mq();}
                 
}


@media screen and (max-width: 670px) {
        
        .titulo {@include titulo-mq();}

        .form-title {font-size: 24px;}

        .box-2 {@include box-mq-nv2();}

        .box-3 {@include box-mq-nv2();}

        .botones {@include botones-mq();}
}
