$title-back-color: rgb(240, 61, 61);

$border-color: rgba(219, 198, 198, 0.93);

$body-text: 'Teko' , sans-serif;

$full-white-text-shadow: -1.5px 0 6px white, 0 1.5px 6px white, 1.5px 0 6px white, 0 -1.5px 6px white ;

@mixin flex-center() {
        display: flex;
        justify-content: center;
        align-items:center; 
}

@mixin flex-center-column() {
        @include flex-center();
        flex-direction: column;
}

@mixin cajas() {
        font-family: $body-text;
        width: 80%;
        height: 84%;
        padding: 20px;
}

@mixin modal() {
        background-color: lightgrey;
        border: 2px solid black;
        color: red;
        font-family: $body-text;
        line-height: 18px;
        font-size: 23px;
        border-radius: 10px;
        position: absolute;
        width: 420px;
        height: 260px;
        font-size: 22px;
        text-align: center;
        top: 160px;
        left: 36.1%;
        overflow: visible;
        @include flex-center-column();
}

@mixin boxes() {
        width: 50%;
        height: 90%;
        position: relative;
        float: left;
        @include flex-center();
}

@mixin input-button-style() {
        background-color: white;
        border: 1.5px solid grey;
        border-radius: 5px;
}

@mixin formulario-info-style() {
        background-color: $border-color;
        border: 2px solid white;
        border-radius: 0px 0px 10px 10px;
        font-size: 23px;
        line-height: 27px;
        padding: 20px;
        height: 87%;
        @include flex-center-column();
}

@mixin formulario-info-title() {
        background-color: $title-back-color;
        border: 2px solid white;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        height: 50px;
        font-size: 36px;
}

@mixin formulario-info-mq-nv1() {
        font-size: 18px;
        line-height: 20px;
}

@mixin formulario-info-mq-nv2() {
        font-size: 14px;
        line-height: 19px;
}

@mixin formulario-info-mq-nv1-title() {
        font-size: 23px;
        line-height: 50px;
}

@mixin formulario-info-mq-nv2-title() {
        font-size: 19px;
        line-height: 36px;
}

@mixin common-style-1() {
        border: 1px solid rgb(250, 242, 242);
        border-radius: 0px 0px 9px 9px;
        width: 100%;
}

@mixin cajas-mq-nv2() {
        width: 100%;
        padding: 5px;
}

.inicio-fondo {background-image: url(../../assets/imagenes/background.jpg);
               width: 100%;
               height: 820px;
               display: flex;
               justify-content: center;}

.titulo {background-color: $title-back-color;
         @include common-style-1();
         text-shadow: $full-white-text-shadow;
         font-family: 'Russo One', sans-serif;
         height: 125px;
         margin-top: 20px;
         font-size: 72px;
         @include flex-center();}

.titulo-text {animation: bounceIn 2s;}

.caja-iniSes {@include cajas();}

.caja-info {@include cajas();}

.box-1 {background-color: transparent;
        height: 820px;
        width: 80%;}

.box-2 {background-image: url("../../assets/imagenes/inicio-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 80.2%;
        @include common-style-1();}

.box-3 {@include boxes();}

.box-4 {@include boxes();}

.iniSes-titulo {@include formulario-info-title();}

.formulario {@include formulario-info-style();}

.info {@include formulario-info-style();}

.info-titulo {@include formulario-info-title();}

.enviar {@include input-button-style();}

.validacion {color: red;
             line-height: 23px;}
        
.input {@include input-button-style();}

.enlace {color: $title-back-color;}

.enlace:hover {text-decoration: none;
               text-shadow: $full-white-text-shadow;}

.modal-1 {@include modal()}
      
.ok {@include input-button-style();
     height: 30px;}


@keyframes bounceIn {
        0% {
          transform: scale(0.1);
          opacity: 0;
        }
        60% {
          transform: scale(1.2);
          opacity: 1;
        }
        100% {
          transform: scale(1);
        }
}


@media screen and (max-width: 880px) {
        
        .titulo {font-size: 46px;}

        .iniSes-titulo {@include formulario-info-mq-nv1-title();}

        .info-titulo {@include formulario-info-mq-nv1-title();}

        .formulario {@include formulario-info-mq-nv1();}

        .info {@include formulario-info-mq-nv1();}
                      
}


@media screen and (max-width: 670px) {
        
        .titulo {font-size: 37px;
                 padding: 10px;}

        .iniSes-titulo {@include formulario-info-mq-nv2-title();}
        
        .info-titulo {@include formulario-info-mq-nv2-title();}

        .formulario {@include formulario-info-mq-nv2();}

        .info {@include formulario-info-mq-nv2();}

        .caja-iniSes {@include cajas-mq-nv2();}
          
        .caja-info {@include cajas-mq-nv2();}

}
