<div class="banner">
  <app-navbar></app-navbar>
  <div class="back-box">
    <button class="back-icon">
      <i class="material-icons" style="font-size: 63px;" routerLink="/contenido">
      arrow_back
      </i>
    </button>
  </div>
</div>
<div class="fondo">
  <div class="pagina">
    <div class="fondo-user">
      <h1 class="titulo">Administrador de Usuarios</h1>

      <div class="contenido">
        <table class="user-table">
          <tr class="fila">
            <th class="campo" style="background-color: lightgrey"><strong>Eliminar</strong></th>
            <th class="campo" style="background-color: lightgrey"><strong>Id</strong></th>
            <th class="campo" style="background-color: lightgrey"><strong>Imagen</strong></th>
            <th class="campo" style="background-color: lightgrey"><strong>Nick</strong></th>
            <th class="campo" style="background-color: lightgrey"><strong>Nombre</strong></th>
            <th class="campo" style="background-color: lightgrey"><strong>Apellidos</strong></th>
            <th class="campo" style="background-color: lightgrey"><strong>Correo</strong></th>
            <th class="campo" style="background-color: lightgrey"><strong>Rol</strong></th>
          </tr>
          <tr *ngFor="let usuario of usuarios" class="fila">
            <th class="campo">
              <i class="material-icons papelera" (click)="modalEliminar(usuario.id_usu)" style="font-size: 32px;">
              delete_forever
              </i>
            </th>
            <th class="campo">{{usuario.id_usu}}</th>
            <td class="campo">
              <i *ngIf="!usuario.img_usu"class="material-icons" style="font-size: 42px; padding: 2px;">person</i>
              <img *ngIf="usuario.img_usu" id="imageUsu" #divImage [src]="usuario.img_usu">
            </td>
            <td class="campo">{{usuario.nick_usu}}</td>
            <td class="campo">{{usuario.nom_usu}}</td>
            <td class="campo">{{usuario.ape_usu}}</td>
            <td class="campo">{{usuario.cor_usu}}</td>
            <td class="campo"><input [(ngModel)]="usuario.rol_usu" (change)="actualizarRolUsu(usuario)" type="text" class="input-label"/></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>


<!-- MODALES -->
<div *ngIf="modal === true" class="modal-1">
  ¿Estas seguro que deseas eliminar
  <br>
  este usuario?
  <br>
  <div class="modal-botones"> 
    <button class="btn-modal"(click)="eliminarUsuario()">Si</button>
    <button class="btn-modal"(click)="cancelar()">Cancelar</button>
  </div>
</div>


<div *ngIf="modalNo === true" class="modal-1">
  <i class="material-icons" style="font-size: 60px; padding: 28px;">report_problem</i>
  No puedes eliminar tu 
  <br>
  propio usuario
  <br>
  <div class="modal-botones"> 
    <button class="btn-modal"(click)="cancelar()">Ok</button>
  </div>
</div>


<div *ngIf="modalRolNo === true" class="modal-1">
  <i class="material-icons" style="font-size: 60px; padding: 28px;">report_problem</i>
  Rol no valido, introduce
  <br>
  1(Admin) o 0(Normal)
  <br>
  <div class="modal-botones"> 
    <button class="btn-modal"(click)="cancelar()">Ok</button>
  </div>
</div>


<div *ngIf="modalUsuNo === true" class="modal-1">
  <i class="material-icons" style="font-size: 60px; padding: 28px;">report_problem</i>
  No puedes modificar el
  <br>
  Rol de tu usuario
  <br>
  <div class="modal-botones">
    <button class="btn-modal"(click)="cancelar()">Ok</button>
  </div>
</div>